<app-root></app-root>
<div class="bg-black p-3">
  <div class="flex row-auto">
    <div
      class="flex bg-green-100 text-green-800 w-14 rounded-3xl h-6 text-sm pl-3 px-2 pt-0.5"
    >
      New
    </div>
    <div class="text-white ml-3 text-sm mt-1">
      <a href="" class="hover:font-thin"
        >Automatic visual tests in Storybook, plus 2.2x faster build times for
        React+TS
      </a>
    </div>
    <div class="flex pl-[900px]">
      <div class="text-white">
        <div class="flex">
          <img src="../../assets/ok.png" class="w-4 h-4 pt-1" />
          <a href="" class="hover:font-thin text-sm"
            >&nbsp;&nbsp;&nbsp;Visual test with Chromatic&nbsp;&nbsp;&nbsp;</a
          >
          <div class="bg-gray-200 w-16 h-5 ml-7 text-black text-xs flex">
            <img src="../../assets/GitHub-Mark.png" class="w-5 h-5" />
            <p class="text-sm flex px-2 font-semibold">Star</p>
          </div>
          <div class="bg-slate-50 w-16 h-5 text-black text-xs flex px-3 py-0.5">
            80,112
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-slate-900">
  <div class="flex justify-start p-2 pl-60">
    <div class="flex hover:border-2 border-blue-500 rounded-lg p-2">
      <img src="../../assets/storybook.png" class="w-6 h-6" />
      <a href="" class="text-white pl-1 font-semibold">Storybook</a>
    </div>

    <a
      href=""
      class="flex ml-7 text-white font-sans p-2 hover:bg-cyan-900 hover:text-blue-500 rounded-md"
      >Why</a
    >
    <a
      href=""
      class="flex ml-5 text-white font-sans p-2 hover:bg-cyan-900 hover:text-blue-500 rounded-md"
      >Showcase</a
    >
    <select
      name="Docs"
      id="Docs"
      class="bg-slate-900 flex ml-5 text-white hover:bg-cyan-900 hover:text-blue-500 rounded-md"
    >
      <option value="Docs">Docs</option>
    </select>
    <a
      href=""
      class="flex ml-5 text-white font-sans p-2 hover:bg-cyan-900 hover:text-blue-500 rounded-md"
      >Integrations</a
    >
    <select
      name="Docs"
      id="Docs"
      class="bg-slate-900 flex ml-5 text-white hover:bg-cyan-900 hover:text-blue-500 rounded-md"
    >
      <option value="Community">Community</option>
    </select>
    <a
      href=""
      class="flex ml-5 text-white font-sans p-2 hover:bg-cyan-900 hover:text-blue-500 rounded-md"
      >Enterprise</a
    >
    <div
      class="flex ml-96 border-[1.5px] rounded-3xl w-52 border-gray-600 hover:border-blue-400"
    >
      <img
        src="../../assets/search-alt-1-svgrepo-com.svg"
        class="h-7 w-6 pt-2 pl-2"
      />
      <p class="text-white text-center pt-2 pl-4">Search Docs</p>
      >
    </div>
  </div>
</div>
<hr class="" />
<div class="bg-slate-900 h-[500px] flex">
  <div
    class="text-white px-64 py-32 h-[140px] w-[1200px] font-semibold text-6xl"
  >
    <p>Build UIs without the grunt work</p>
  </div>
  <div class="text-white py-32 h-[140px] w-[1200px] font-light space-between">
    <p>
      Storybook is a frontend workshop for building UI components and pages
      in<br />
      isolation. Thousands of teams use it for UI development, testing, and<br />
      documentation. It’s open source and free.
    </p>

    <div class="flex">
      <button
        class="text-white bg-sky-500 rounded-3xl max-w-2xl p-3 text-sm font-semibold my-10 hover:scale-110"
      >
        Get started
      </button>
      <button
        class="text-white bg-slate-900 border-[1px] border-gray-300 rounded-3xl max-w-8xl p-3 text-sm font-semibold my-10 flex m-8 hover:scale-110"
      >
        <img src="../../assets/play-button-svgrepo-com.svg" class="w-5 h-5" />
        Watch Video
      </button>
    </div>
    <div class="text-white flex">
      <p class="text-gray-400 font-semibold">v7.4</p>
      <p class="text-gray-400 pl-28 font-semibold">21.84m</p>
      <p class="text-gray-400 pl-28 font-semibold" >2,049+</p>
    </div>
    <div class="text-white flex">
      <p class="font-sans font-light text-gray-400 text-xs">Latest version</p>
      <p class="pl-[68px] font-sans-extralight text-gray-400 text-xs">Installs per month</p>
      <p class="pl-[68px] font-sans-extralight text-gray-400 text-xs">Contributors</p>
    </div>
  </div>
</div>


<div>
  <div class="bg-slate-900 h-52">
    <div class= "flex justify-center">

      <img src="../../assets/video1.gif " >
    </div>
   
  </div>

  <div class="bg-gradient-to-r from-amber-100 from-20% via-yellow-100 via-30% to-pink-200 to-90% ... h-[750px] ">
    
  </div>
</div>






